/*body {
    background: #e1dfea;
}

.container {*//*
    border: 1px solid #C27C13;
    border-radius: 50px;*/
    /*margin: 50px auto;
    padding: 20px 0px;
}

h4 {*/
    /*color: #C27C13;*/
    /*font-size: 50px;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

div {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

label {*/
    /*color: #C27C13;*/
    /*font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

select {
    margin: 0px auto;
    margin-left: 50px;
}

input {*/
    /*background: #C27C13;
    color: #FFFBDB;
    font-family: Italiana;*/
    /*margin: 0px auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
}

button {
    background: black;
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
    border: none;
}*/